    <br/> <br/>
    <div class="blog-header">
      <div class="container">
        <h1 class="blog-title">MeLAB Licensing Buisness Model</h1>
        <p class="lead blog-description">What is Licensing ?</p>
      </div>
    </div>
    <br/> <br/>
    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Licensing May be the Best Business Model for You</h2>
            <p class="blog-post-meta">September 17, 2017 <a href="#">Bong KT</a></p>

            <p>Let’s face it, not every inventor, scientist, or engineer is cut out to be a great businessperson. If that sounds like you, then you may be better off employing a licensing model rather than a traditional business model. Licensing puts the burden of innovations like this case Recipes on our shoulders. MeLAB business model of licensing our proprietary recipes and technology to an independent company (meaning you) rather than building the whole business by ourself.
 <hr>
Reason is simple, because we want to create business opportunity for everyone regardless of age, status, race and experience. We know that food business are important and lucrative, but fewer new generation will be able to take up this industry because of knowledge know-how and also the difficulty in sourcing the right ingredients and spices.</p>
           
            <h3>Advantages of a Licensing Model</h3>
            <p>Many inventors will choose to license their technologies because of the following advantages inherent to the licensing model:</p>
            <pre><code>The licensee can focus all of his energies on the business</code></pre>
            <pre><code>As our company MeLAB grow, our licensee also grow with us. Creating a win win parties!</code></pre>
            <pre><code>The licensee have the advantage of selling many famous foods around the world without having to spend time and money to learn it.</code></pre>

            <h3>In Conclusion</h3>
            <p>If you want to venture into F&B buisness and doesn't want to create your own brand or without any experience, there are only 2 options :</p>
            <ul>
              <li>Buying a Franchise which may be feel safer but require a large amount of capital which in turn become too risky to fail.</li>
              <li>Buying a Licensing Model like us , cheaper and provide almost the same support as Franchise but cheaper and more flexible.</li>
            </ul>
            <p>Whatever your decision maybe, we wish you good luck in your business venture to achieve your financial freedom and dream.</p>
          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

        <div class="col-sm-3 offset-sm-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Bong Kum Tim, CEO and Cofounder of MeLAB. He has 12 years of experience managing Retail and FMCG business in Malaysia. </p>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="https://www.linkedin.com/in/bong-kum-tim-620788130/" target="_blank">Linkedin </a></li>
              <li><a href="https://www.facebook.com/Melab-2000584810177766/?ref=bookmarks" target="_blank">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->