    </br>
    <div class="container">

      <h1>Hands-on Training</h1>
      <p class="lead">Basic 4 days training for anyone with or without cooking experience to learn the Asia way of preparing local famous dishes. We guarantee you never regret it! </p>
      </br></br>
      <h3>Foods Menu</h3>
      <p>We make this training as easy as possible. So that anyone can cook and earn a lucrative F&B business!</p>

      <div class="row">
        <div class="col-4"><strong>Malaysia Famous</strong></div>
        <div class="col-4"><strong>Singapore Famous</strong></div>
        <div class="col-4"><strong>Thailand Famous</strong></div>
      </div>

      <div class="row">
        <div class="col-sm-4">Nasi Lemak</div>
        <div class="col-sm-4">Chicken Rice</div>
        <div class="col-sm-4">Tom Yum Kung</div>
      </div>

      <div class="row">
        <div class="col-md-4">1 day (4 hours)</div>
        <div class="col-md-4">2 days (4 hours)</div>
        <div class="col-md-4">1 day (4 hours)</div>
      </div>

      <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
      </div>

      <div class="row">
        <div class="col-xl-4">Date to be announce</div>
        <div class="col-xl-4">Date to be announce</div>
        <div class="col-xl-4">Date to be announce</div>
      </div>
      </br> </br>
      <h3>Contact Person</h3>
      <p></p>
      <div class="row">
        <div class="col-md-4">Mr Bong, CEO (+6012-7205562)</div>
        <div class="col-md-4">Mr Alexander COO (+6017-9475788)</div>
        <div class="col-md-4">Ms May CFO (+6012-3178856)</div>
      </div>
</div>