<section class="jumbotron text-center"></section>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="rounded-circle" src="assets/allinone.png" alt="Generic placeholder image" width="140" height="140">
          <h2>All in 1 place</h2>
          <p>Organise, plan & purchase everything you need for your F&B business. Smarter and better value</p>
          <p><a class="btn btn-secondary" href="/index" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="assets/cooking.jpg" alt="MeLAB cooking training" width="140" height="140">
          <h2>Training</h2>
          <p>We understand that each person is different. That why we do have hands on training from time to time for you!</p>
          <p><a class="btn btn-secondary" href="/training" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="rounded-circle" src="assets/license.jpg" alt="licensing image" width="140" height="140">
          <h2>Licensing Right</h2>
          <p>By agreeing to our terms and conditions, each user can entitle to use our trademark for their business</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Be Special, Sell Authentic Oversea Food!  <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Authenticity can't just be about place; even the ingredients used will taste different depending on where they're grown. That's why we provide original ingredient from the original country, so the taste 100% Authentic!</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="assets/authentic.jpg" alt="Authentic food">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Free Accounting Software  <span class="text-muted">We handle everything, you focus on business</span></h2>
          <p class="lead">Do your accounting anytime, anyway with our mobile app on your laptop, pc or smartphone. And go paperless by using your phone to capture your receipts and manage your expenses.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="featurette-image img-fluid mx-auto" src="assets/accounting.jpg" alt="free accounting">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Licensing Business Model <span class="text-muted">Forget expensive franchising! </span></h2>
          <p class="lead">Let’s face it, not every inventor, scientist, or engineer is cut out to be a great businessperson. If that sounds like you, then you may be better off employing a licensing model rather than a traditional business model. Licensing puts the burden of innovations like this case Recipes on our shoulders.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="assets/success.jpg" alt="sucess with MeLAB">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="float-right"><a href="/welcome">Back to top</a></p>
        <p>&copy; 2017 MeLAB Global Sdn Bhd. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->